:root
{
    --font-body: "Segoe UI", "Oxygen", "Ubuntu", "Roboto", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;

    --col-primary: #1F2237;
    --col-primary-tint: #333B50;
    --col-secondary: #5D3621;
    --col-secondary-tint: #724E2F;

    --col-text: #c0c0c0;
}